@page
@model StudentInfoWebApp.Pages.Courses.IndexModel
@{
    <h2>Courses</h2>

    <form>
        <input type="text" name="SearchString" value="@Model.SearchString" placeholder="Search by Name" />
        <button type="submit">Search</button>
    </form>

    <a href="/Courses/Create">Add New Course</a>

    <table>
        <thead>
            <tr><th>Name</th><th>Lecturer</th><th>Actions</th></tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CourseList)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.LecturerName</td>
                    <td>
                        <a href="/Courses/Edit?id=@item.CourseId">Edit</a> |
                        <a href="/Courses/Delete?id=@item.CourseId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
